#mainProjects {
  background: rgb(153, 141, 141);
}

.project img {
  width: 100%;
  height: 25vh;
  overflow: hidden;
  object-fit: cover;
  border: 2px solid rgb(63, 61, 61);
}

.project .card {
  width: 100%;
  height: 100%;
  /* border: 2px solid rgb(63, 61, 61); */
  border: 0px;
}

.project .card-body {
  background: rgb(153, 141, 141);
}

.project .card-title {
  font-weight: bold;
  font-size: 1.3rem;
}

.project .card-text {
  font-size: 1rem;
  text-align: justify;
  text-justify: inter-word;
}

.project .card-text span {
  font-size: 0.85rem;
}

a.github-repo,
a.github-repo:hover {
  color: inherit;
  font-size: 0.85rem;
  text-decoration: none;
}
